# List all Python package requirements this project has.
# Generated with 'pip freeze > requirements.txt'
# more details: https://pip.pypa.io/en/latest/user_guide/#requirements-files

Django==1.11.29
Pillow==6.2.0