{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

            <div class="panel">
                <h2 class="panel-heading">{{ treasure.name }}</h2>
                <div class="panel-body">
                    <img class="treasure-image" src="{{ treasure.img_url }}" width="300" height="300">
                    <table class="treasure-table">
                        <tr>
                            <th><svg aria-hidden="true" class="treasure-icon"><use xlink:href="{% static 'images/site-icons.svg' %}#icon-material"></use></svg> Material: </th>
                            <td>{{ treasure.material }}</td>
                        </tr>
                        <tr>
                            <th><svg aria-hidden="true" class="treasure-icon"><use xlink:href="{% static 'images/site-icons.svg' %}#icon-value"></use></svg> Value: </th>
                            <td>
                              {% if treasure.value > 0 %}
                              {{ treasure.value }}
                              {% else %}
                              Unknown
                              {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th><svg aria-hidden="true" class="treasure-icon"><use xlink:href="{% static 'images/site-icons.svg' %}#icon-location"></use></svg> Location: </th>
                            <td>{{ treasure.location }}</td>
                        </tr>
                    </table>
                </div>
            </div>
{% endblock %}