{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Treasure Gram</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Gentium+Basic:400,400i,700,700i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <main role="main" class="site-main">
            <nav class="site-navigation">
                <a href="/">
                  <img src="{% static 'images/logo.jpg' %}" alt="TreasureGram logo">
                </a>
            </nav>

            <h1 class="site-title">TreasureGram</h1>
            <div class="panel">
                <h2 class="panel-heading">{{ treasure.name }}</h2>
                <div class="panel-body">
                    <img class="treasure-image" src="{{ treasure.img_url }}" width="300" height="300">
                    <table class="treasure-table">
                        <tr>
                            <th><svg aria-hidden="true" class="treasure-icon"><use xlink:href="{% static 'images/site-icons.svg' %}#icon-material"></use></svg> Material: </th>
                            <td>{{ treasure.material }}</td>
                        </tr>
                        <tr>
                            <th><svg aria-hidden="true" class="treasure-icon"><use xlink:href="{% static 'images/site-icons.svg' %}#icon-value"></use></svg> Value: </th>
                            <td>
                              {% if treasure.value > 0 %}
                              {{ treasure.value }}
                              {% else %}
                              Unknown
                              {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th><svg aria-hidden="true" class="treasure-icon"><use xlink:href="{% static 'images/site-icons.svg' %}#icon-location"></use></svg> Location: </th>
                            <td>{{ treasure.location }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>
