{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

            <div class="treasure-grid">
                <div class="treasure-row">
                {% for treasure in treasures %}
                    <a class="treasure-item" href="/{{ treasure.id }}/">
                        <h2 class="panel-heading">{{ treasure.name }}</h2>
                        <img class="treasure-image" src="{{ treasure.img_url }}" width="150" height="150">
                    </a>
                {% if forloop.counter|divisibleby:3 %}
                </div>

                <div class="treasure-row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
{% endblock %}