{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

            <header class="user-header">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <h2>@{{ user.username }}</h2>
            </header>

            <div class="treasure-grid">

                <h3>User treasures:</h3>
                <div class="treasure-row">
                {% for treasure in treasures %}
                    <div class="treasure-item">
                        <h2 class="panel-heading">{{ treasure.name }}</h2>
                        <a href="/{{ treasure.id }}/">
                            <img class="treasure-image" src="{{ treasure.image.url }}" width="150" height="150">
                        </a>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                </div>

                <div class="treasure-row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
{% endblock %}